# Refer to the corresponding file in the dotfiles repo for details on these config choices.
# - Local: ~/.editorconfig
# - Remote: https://github.com/dustin-ruetz/dotfiles/blob/main/.editorconfig

root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
