* text=auto

*.js   text
*.md   text
*.json text
*.sh   text
*.ts   text
*.yaml text

# The repo's "Languages" percentages on the https://github.com/dustin-ruetz/web-devdeps
# repo homepage misidentifies the `src/index.ts` TypeScript file as JavaScript due to
# the fact that its first line is the `#!/usr/bin/env node` shebang comment. Fix this
# by manually specifying the language for just this particular file.
#
# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md#using-gitattributes
src/index.ts linguist-language=TypeScript
