# Related file: .vscode/settings.json

# Use this .gitignore file as the `--ignore-path` for ESLint and Prettier as well,
# since everything that's excluded from repo source control shouldn't be checked.
coverage/
lib/
node_modules/
# Related file: src/eslint.config.ts (specifically `eslintConfig.ignorePatterns`)
!*.*.js
!*.*.ts
