# Excerpt from https://nodejs.org/en/learn/typescript/run-natively#running-typescript-code-with-nodejs:
# > Since V22.6.0, Node.js has experimental support for some TypeScript syntax via "type stripping".
# > You can write code that's valid TypeScript directly in Node.js without the need to transpile it first.
# > The `--experimental-strip-types` flag tells Node.js to strip the
# > type annotations from the TypeScript code before running it.
node-options="--experimental-strip-types"
