# https://prettier.io/docs/en/ignore.html

build/
coverage/
dist/
lib/
node_modules/
www/
# Manually ignore every compiled file in lib/ to prevent errors and warnings when running the `format` scripts.
# Related issue - https://github.com/prettier/prettier/issues/4081
commitlint.config.js
eslint.config.cjs
eslint.config.js
jest.config.devdeps.js
jest.config.js
jestTransformerBabelJest.js
jestTransformerBinaryFile.js
jestTransformerSVGFile.js
lint-staged.config.js
prettier.config.js
