build/
coverage/
dist/
lib/
node_modules/
www/
# Ignore the .cjs and .mjs file extensions to prevent warnings and errors when running the `format` scripts.
# TODO: Figure out why these files aren't being ignored even though they're all children of the lib/ directory.
*.cjs
*.mjs
